{{ define "main" }}
  <article class="post">
    <header>
      <p class="post__series">{{ .Params.series }} {{ with .Params.chapter }}｜{{ . }}{{ end }}</p>
      <h1>{{ .Title }}</h1>
      <p class="post__meta">
        公開日: {{ .Date.Format "2006-01-02 15:04" }} / タグ:
        {{ if .Params.tags }}
          {{ range $index, $tag := .Params.tags }}
            {{ if $index }}, {{ end }}#{{ $tag }}
          {{ end }}
        {{ else }}
          #未設定
        {{ end }}
      </p>
    </header>

    {{ partial "affiliate_notice.html" . }}

    {{ with .Params.disclaimer }}
      <p><strong>{{ . }}</strong></p>
    {{ else }}
      <p><strong>{{ .Site.Params.defaultDisclaimer }}</strong></p>
    {{ end }}

    {{ .Content }}

    {{ $shareURL := .Permalink | urlquery }}
    {{ $shareTitle := .Title | urlquery }}
    {{ $lineText := printf "%s%%0A%s" $shareTitle $shareURL }}
    <section class="share-buttons">
      <h2>この記事をシェアする</h2>
      <div class="share-buttons__links">
        <a class="share-button share-button--x" href="https://twitter.com/intent/tweet?url={{ $shareURL }}&text={{ $shareTitle }}" target="_blank" rel="noopener">Xでシェアする</a>
        <a class="share-button share-button--line" href="https://line.me/R/msg/text/?{{ $lineText }}" target="_blank" rel="noopener">LINEでシェアする</a>
        <a class="share-button share-button--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ $shareURL }}" target="_blank" rel="noopener">Facebookでシェアする</a>
        <a class="share-button share-button--hatena" href="https://b.hatena.ne.jp/add?mode=confirm&url={{ $shareURL }}&title={{ $shareTitle }}" target="_blank" rel="noopener">はてなブックマークでシェアする</a>
      </div>
    </section>

    {{ $seriesPages := where (where .Site.RegularPages "Params.series" .Params.series) "Permalink" "ne" .Permalink }}
    {{ if gt (len $seriesPages) 0 }}
      <section class="related-posts">
        <h2>同シリーズの他の記事</h2>
        <ul>
          {{ range first 3 $seriesPages }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>（{{ .Date.Format "2006-01-02" }}）</li>
          {{ end }}
        </ul>
      </section>
    {{ end }}

    {{ with .Params.affiliate_ids.others }}
      <section class="affiliate-list">
        <h2>デジタル配信／その他公式ストア</h2>
        <ul>
          {{ range . }}
            <li>
              <a href="{{ .url }}" target="_blank" rel="sponsored noopener">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}
  </article>
{{ end }}
